{{outlet}}
<section class="container">
  <section class="note-preview">
    {{textarea placeholder="Add a title!" value=noteTitle}}
    {{textarea placeholder="Add a note!" value=noteCopy}}
    <button class="myButton" {{action 'newNote'}}>Save</button>
<hr>
      {{#each note in model}}
    <section class="note">
      <section class="note-title">
      <strong>{{note.title}}</strong>
      </section>
      {{note.body}}
      {{/each}}
    </section>
  </section>
</section>
